*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
    background-color:#3b3b3b;
    font-size: 15px;
    color:white;
}

.section-header{
    background:#3b3b3b !important;
    font-weight:600;
}   

.dropdown-toggle:hover{
    color:#d4af37 !important;
    transition:0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fa-house{
    margin-right:10px;
    font-size: 17px;
}

.flex-item span:hover
{
    color:#d4af37;
    transition:0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dropdown-menu a{
    font-weight:450;
}

.dropdown-menu {
    background-color: #3b3b3b !important;
}

.dropdown-menu a:hover
{
    color:#d4af37 !important;
    background-color: #3b3b3b !important;
    transition:0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.carousel-caption{
    z-index: 2;
    bottom:250px;
}

.carousel-item{
    height:880px;
    width: 880px;
}

.carousel-item img{
    width: 880px;
    height: 880px;
    object-fit:fill;
}
.carousel-caption h5{
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
}

.carousel-caption p{
    font-size:20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.mainBanner .carousel-inner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    z-index:1;
    }

.pageContainer {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.main{
    background-color: #3b3b3b;
}

.mainContainer
{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;

    color:white;
}

.mainContainer h5{
    font-size:23px;
    letter-spacing: 3px;
    font-weight: 700;
}

.container .carousel-item img{ 
    height:300px;
    width: auto;
    object-fit: cover;
}

.container .carousel-item{
    height: auto;
    opacity: 0;
    transition: opacity ease-in-out .5s;
}

.container .carousel-item.active {
    opacity: 1;
}